<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- importamos iron ajax -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="reg-app">
  <template>
    <!-- Bootstrap CSS -->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../../assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="../../assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../../assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="main-content">

      <!-- invocamos una variable de tipo logado -->
      <div class="row" hidden$={{logado}}>
        <!-- agregamos campo email y su validacion y ponemos el value como bidireccional -->
      </div>

      <!-- Header -->
      <div class="header bg-gradient-primary py-7 py-lg-8"></div>
      <!-- Page content -->
      <div class="container mt--8 pb-5">
        <!-- Table -->
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary shadow border-0">

              <div class="card-body px-lg-5 py-lg-5">
        <img src="../../assets/img/brand/bbva.png" alt="" width="40%" height="auto" >
        <br>
        <br>
                <div class="text-center text-muted mb-4">
          <small>Registro</small>
                </div>
                <form role="form">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input class="form-control" placeholder="Nombre" type="text" value="{{nombre::input}}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input class="form-control" placeholder="Apellido" type="text" value="{{apellido::input}}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Email" type="email" value="{{email::input}}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Password" type="password" value="{{password::input}}" required>
                    </div>
                  </div>

                  <div class="text-center">
                    <button on-click="registra" type="button" name="button" class="btn btn-primary my-4">Crear cuenta</button>
                  </div>
                </form>
          <div class="col-12 text-center">
            <a href="index.html"><small>Cancelar</small></a>
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- agregamos iron ajax -->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3002/v3/Clientes"
      content-type = "application/json"
      crossDomain: true
      dataType: 'jsonp'
      method ="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error = "showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegApp extends Polymer.Element {
      static get is() { return 'reg-app'; }
      static get properties() {
        return {
          nombre: {
            type: String
          },
          apellido:{
            type:String
          },
          email:{
            type:String
          },
          password:{
            type:String
          },
          logado:{
            type:Boolean,
            value:false
          }
        };
      }

    registra(){
        var loginData ={"email": this.email, "password": this.password,"nombre": this.nombre,"apellido": this.apellido};
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición Enviada");
    }

    manageAJAXResponse(data){
      console.log("Respuesta Recibida del Servidor");
      console.log(data.detail.response);
      this.logado=true;
      alert("El cliente fue dado de alta");
      location.href = "index.html";

    }

    showError(error){
      console.log("Hubo un error en la Petición");
      alert("Datos Ingresados Incorrectos, Verifique o Registrese");
      console.log(error);
    }
  }

    window.customElements.define(RegApp.is, RegApp);
  </script>
  <!--   Core   -->
  <script src="../../assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="../../assets/js/argon-dashboard.min.js?v=1.1.0"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
</dom-module>
