<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

Access-Control-Allow-Origin: *

<dom-module id="consulta-app">
  <template>

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/png" href="https://storage.googleapis.com/bbva-front.appspot.com/bbva.front/resources/favicon/favicon_32px.png"/>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="../../assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="../../assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../../assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
    <!--<script type="text/javascript" src="../../hola.js"></script>-->
    <style>
      :host {
        display: block;
      }
    </style>

    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
      <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="./index.html">
          <img src="../../assets/img/brand/bbva.png" class="navbar-brand-img" alt="...">
        </a>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="./index.html">
                  <img src="../../assets/img/brand/bbva.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navigation -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="alta.html">
                <i class="ni ni-planet text-blue"></i> Alta movimientos
              </a>
            </li>
            <li class="nav-item  class=" active" ">
            <a class=" nav-link active " href="consulta.html"> <i class="ni ni-tv-2 text-primary"></i> Consulta
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="ni ni-key-25 text-info"></i> Salir
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div class="main-content">
    <div class="container">
      <div class="row">
        <br>
        <br>
        <h1>Consulta de movimientos</h1>
      </div>
      <br />
      <div class="row">
        <button on-click="ObtenerMovimientos" class = "btn btn-danger col-lg-4 col-xs-12" type="button" name="button">Ver Movimientos</button>

      </div>

      <div class = "row">
        <table class="table table-striped">
          <tbody>
            <template is = "dom-repeat" items="{{movimientos}}">
              <tr>
                <td>[[item.cliente]]</td>
                <td>[[item.cuenta]]</td>
                <td>[[item.fecha]]</td>
                <td>[[item.importe]]</td>
                <td>[[item.tipo]]</td>

              </tr>
            </template>
          </tbody>
        </table>

      </div>
    </div>
    </div>
  </template>

  <!--   Core   -->
  <script src="../../assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <script src="../../assets/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="../../assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
  <!--   Argon JS   -->
  <script src="../../assets/js/argon-dashboard.min.js?v=1.1.0"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ConsultaApp extends Polymer.Element {
      static get is() { return 'consulta-app'; }

      static get properties() {
        return {
          movimientos: {
            type: Array,
            notify: true
          }
        };
      }

      ObtenerMovimientos(){

        
        var url = "http://localhost:3002/v4/Movimientos";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.movimientos = JSON.parse(request.responseText);
        console.table(this.movimientos);
      }
    }

    window.customElements.define(ConsultaApp.is, ConsultaApp);
  </script>



</dom-module>
